<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="SQLConnection" value="SERVER=.\SQLEXPRESS;AttachDbFilename=D:\StockAndSaleOldDB\StockAndSaleDB.mdf;Integrated Security=False; uid=sa;password=P@ssw0rd" />

    <add key="DBBackUpName" value="D:\StockAndSaleDB\StockAndSaleDB.mdf" />
    
  </appSettings>
</configuration>